<!DOCTYPE html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Slatka kuća</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
</head>

<body>

    <div class="brand">Slatka kuća</div>
    <div class="address-bar">"Život bez užitaka je življenje radi reda. Uživajte u trenutku"</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Početna</a>
                    </li>
                    <li>
                        <a href="/recepti">Knjiga recepata</a>
                    </li>
                    <li>
                        <a href="/addrecipe">Obogatite našu knjigu recepata</a>
                    </li>
                    <li>
                        <a href="/knjigautisaka">Knjiga utisaka</a>
                    </li>
                    <li>
                        <a href="/addutisak">Recite nam Vaše mišljenje</a>
                    </li>
                    <li>
                        <a href="/logout">Izlogujte se {{user.username}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="../img/slika1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="../img/slika2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="../img/slika3.jpg" alt="">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

      <div class="row">
            <div class="box">
              <div class="col-md-8">
                <img class="img-responsive" src="{{recept.slika}}" alt="">
              </div>

              <div class="col-md-4">
                <h3><h2 class="intro-text text-center">
                        <strong>{{recept.naziv}}</strong>
                    </h2>
                    <hr></h3>
                <p>{{recept.kratakopis}}</p>
                <h3>Potrebno</h3>
                <p>
                  {{recept.sastojci}}
                </p>
                <h3>
                  Priprema
                </h3>
                <p>
                  {{recept.opis}}
                </p>
            </div>


            </div>
      </div>

      <div class="row">
            <div class="box">

              {{lajkovi}} likes this recepy

                {% ifequal ovajlajkovao "true" %}
                            <form role="form"  method="POST" action = "/obrisilajk/{{idtoglajka.id}}">
                                        <div class="form-group" hidden>
                                            <label>Ostavio</label>
                                           <input type="text" class="form-control" name="recept" value="{{recept.receptID}}"></textarea>
                                        </div>
                   <button type="submit" class="btn btn-default">Dislike</button>
                </form>

              {% else %}

                                <form role="form"  method="POST" action = "/dodajlajk/{{recept.receptID}}">
                                        <div class="form-group" hidden>
                                            <label>Ostavio</label>
                                           <input type="text" class="form-control" name="lajkovao" value="{{user.username}}"></textarea>
                                        </div>
                   <button type="submit" class="btn btn-default">Like</button>
                </form>

              {% endifequal %}
            </div>
        </div>

      <div class="row">
            <div class="box">
              <div class="col-md-5">
                {% for komentar in komentari %}
                    <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">{{komentar.ostavio}}</h4>
                                    <h5 class="time">{{komentar.datum|date:"dd.MM.yyyy."}}</h5>
                                </div>
                                <p>{{komentar.tekst}}</p>
                            </div>
               {% endfor %}

              </div>
              <div class="col-md-7">
                <form role="form"  method="POST" action = "/dodajkomentar/{{recept.receptID}}">
                      <div class="form-group">
                            <label>Komentar</label>
                            <textarea class="form-control" rows="5" name="opis" placeholder="Komentar" required></textarea>
                      </div>
                      <button type="submit" class="btn btn-default">Dodaj komentar</button>
                </form>
              </div>

            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
